@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%; /* Assurer que le body et html prennent toute la hauteur */
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --primary: 50, 100%, 52%;
  --primary-foreground: 0, 0%, 0%;
  --linky: hsl(209, 100%, 20%);
  --success: hsl(120 100% 25%);
  --secondary: 216 13% 36%;
  --secondary-foreground: 216 13% 96%;
  --background: 96 65% 100%;
  --foreground: 96 67% 5%;
  --muted: #ccc;
  --muted-foreground: 216 4% 40%;
  --popover: 96 65% 100%;
  --popover-foreground: 96 67% 5%;
  --card: 96 65% 100%;
  --card-foreground: 96 67% 5%;
  --border: 96 13% 91%;
  --input: 96 13% 91%;
  --white: 0 0% 100%;
  --accent: 0 0% 0%;
  --accent-foreground: 336 13% 96%;
  --destructive: 18 93% 29%;
  --destructive-foreground: 18 93% 89%;
  --ring: 96 13% 36%;
  --radius: 0.5rem;
  --danger-hover: 0 85% 50%;
  --danger: 0 90% 45%;
}

.dark {
  --primary: 50, 100%, 52%;
  --primary-foreground: 0, 0%, 0%;
  --linky: hsl(209, 100%, 20%);
  --success: hsl(120 100% 25%);
  --secondary: 216 13% 36%;
  --secondary-foreground: 216 13% 96%;
  --background: 96 65% 100%;
  --foreground: 96 67% 5%;
  --muted: #ccc;
  --muted-foreground: 216 4% 40%;
  --popover: 96 65% 100%;
  --popover-foreground: 96 67% 5%;
  --card: 96 65% 100%;
  --card-foreground: 96 67% 5%;
  --border: 96 13% 91%;
  --input: 96 13% 91%;
  --white: 0 0% 100%;
  --accent: 0 0% 0%;
  --accent-foreground: 336 13% 96%;
  --destructive: 18 93% 29%;
  --destructive-foreground: 18 93% 89%;
  --ring: 96 13% 36%;
  --radius: 0.5rem;
  --danger-hover: 0 85% 50%;
  --danger: 0 90% 45%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .texth1 {
    @apply text-3xl text-primary-foreground font-extrabold tracking-tight ;
  }
}

@layer base {
  :root {
    --primary: 50, 100%, 52%;
    --primary-foreground: 0, 0%, 0%;
    --linky: hsl(209, 100%, 20%);
    --success: hsl(120 100% 25%);
    --secondary: 216 13% 36%;
    --secondary-foreground: 216 13% 96%;
    --background: 96 65% 100%;
    --foreground: 96 67% 5%;
    --muted: #ccc;
    --muted-foreground: 216 4% 40%;
    --popover: 96 65% 100%;
    --popover-foreground: 96 67% 5%;
    --card: 96 65% 100%;
    --card-foreground: 96 67% 5%;
    --border: 96 13% 91%;
    --input: 96 13% 91%;
    --white: 0 0% 100%;
    --accent: 0 0% 0%;
    --accent-foreground: 336 13% 96%;
    --destructive: 18 93% 29%;
    --destructive-foreground: 18 93% 89%;
    --ring: 96 13% 36%;
    --radius: 0.5rem;
    --danger-hover: 0 85% 50%;
    --danger: 0 90% 45%;
  }
  .dark {
    --primary: 50, 100%, 52%;
    --primary-foreground: 0, 0%, 0%;
    --linky: hsl(209, 100%, 20%);
    --success: hsl(120 100% 25%);
    --secondary: 216 13% 36%;
    --secondary-foreground: 216 13% 96%;
    --background: 96 65% 100%;
    --foreground: 96 67% 5%;
    --muted: #ccc;
    --muted-foreground: 216 4% 40%;
    --popover: 96 65% 100%;
    --popover-foreground: 96 67% 5%;
    --card: 96 65% 100%;
    --card-foreground: 96 67% 5%;
    --border: 96 13% 91%;
    --input: 96 13% 91%;
    --white: 0 0% 100%;
    --accent: 0 0% 0%;
    --accent-foreground: 336 13% 96%;
    --destructive: 18 93% 29%;
    --destructive-foreground: 18 93% 89%;
    --ring: 96 13% 36%;
    --radius: 0.5rem;
    --danger-hover: 0 85% 50%;
    --danger: 0 90% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-linky {
    color: var(--linky);
  }
  .bg-destructive {
    background-color: #ffebeb;
    color: var(--destructive);
  }
  .text-destructive {
    color: white;
  }
  .bg-success {
    background-color: #000;
  }
  .text-success {
    color: #000; /* Assure-toi que tu définis aussi success-foreground si nécessaire */
  }
}
