@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 50, 100%, 52%;
  --primary-foreground: 0, 0%, 0%;
  --linky: hsl(209, 100%, 20%);
  --secondary: 209, 100%, 20%;
  --secondary-foreground: 211, 100%, 12%;
  --background: 96 65% 100%;
  --foreground: 96 67% 5%;
  --muted: #ccc;
  --muted-foreground: 216 4% 40%;
  --popover: 96 65% 100%;
  --popover-foreground: 96 67% 5%;
  --card: 96 65% 100%;
  --card-foreground: 96 67% 5%;
  --border: 96 13% 91%;
  --input: 96 13% 91%;
  --white: 0 0% 100%;
  --accent: 336 13% 36%;
  --accent-foreground: 336 13% 96%;
  --destructive: 18 93% 29%;
  --destructive-foreground: 18 93% 89%;
  --ring: 96 13% 36%;
  --radius: 0.5rem;
  --danger-hover: 0 85% 50%; /* Un rouge vif */
  --danger: 0 90% 45%;
}

.dark {
  --primary: 50, 100%, 52%;
  --primary-foreground: 0, 0%, 0%;
  --linky: 209, 100%, 20%;
  --secondary: 209, 100%, 20%;
  --secondary-foreground: 211, 100%, 12%;
  --background: 96 65% 100%;
  --foreground: 96 67% 5%;
  --muted: #ccc;
  --muted-foreground: 216 4% 40%;
  --popover: 96 65% 100%;
  --popover-foreground: 96 67% 5%;
  --card: 96 65% 100%;
  --card-foreground: 96 67% 5%;
  --border: 96 13% 91%;
  --input: 96 13% 91%;
  --white: 0 0% 100%;
  --accent: 336 13% 36%;
  --accent-foreground: 336 13% 96%;
  --destructive: 18 93% 29%;
  --destructive-foreground: 18 93% 89%;
  --ring: 96 13% 36%;
  --radius: 0.5rem;
  --danger-hover: 0 85% 50%; /* Un rouge vif */
  --danger: 0 90% 45%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: 50, 100%, 52%;
    --primary-foreground: 0, 0%, 0%;
    --linky: 209, 100%, 20%;
    --secondary: 209, 100%, 20%;
    --secondary-foreground: 211, 100%, 12%;
    --background: 96 65% 100%;
    --foreground: 96 67% 5%;
    --muted: #ccc;
    --muted-foreground: 216 4% 40%;
    --popover: 96 65% 100%;
    --popover-foreground: 96 67% 5%;
    --card: 96 65% 100%;
    --card-foreground: 96 67% 5%;
    --border: 96 13% 91%;
    --input: 96 13% 91%;
    --white: 0 0% 100%;
    --accent: 336 13% 36%;
    --accent-foreground: 336 13% 96%;
    --destructive: 18 93% 29%;
    --destructive-foreground: 18 93% 89%;
    --ring: 96 13% 36%;
    --radius: 0.5rem;
    --danger-hover: 0 85% 50%; /* Un rouge vif */
    --danger: 0 90% 45%;
  }
  .dark {
    --primary: 50, 100%, 52%;
    --primary-foreground: 0, 0%, 0%;
    --linky: 209, 100%, 20%;
    --secondary: 209, 100%, 20%;
    --secondary-foreground: 211, 100%, 12%;
    --background: 96 65% 100%;
    --foreground: 96 67% 5%;
    --muted: #ccc;
    --muted-foreground: 216 4% 40%;
    --popover: 96 65% 100%;
    --popover-foreground: 96 67% 5%;
    --card: 96 65% 100%;
    --card-foreground: 96 67% 5%;
    --border: 96 13% 91%;
    --input: 96 13% 91%;
    --white: 0 0% 100%;
    --accent: 336 13% 36%;
    --accent-foreground: 336 13% 96%;
    --destructive: 18 93% 29%;
    --destructive-foreground: 18 93% 89%;
    --ring: 96 13% 36%;
    --radius: 0.5rem;
    --danger-hover: 0 85% 50%; /* Un rouge vif */
    --danger: 0 90% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-linky {
    color: var(--linky);
  }
}
